
<!-- mobiles_page.html -->

{% extends 'customer/customernavbar.html' %}

{% block body %}
  <br>
<center>
    <form action="{% url 'search_product' %}" method="GET">
        <input type="text" name="q" placeholder="Search products">
        <button type="submit">Search</button>
    </form>
</center>
<br>
  <div class="container">
    <div class="row">
      {% for product in home %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
           <h6 class="card-text">Price: <span style="color: #8B0000; font-weight: bold;">Rs.{{ product.price }}</span></h6>
            <h6 class="card-text">Rating: {{ product.review }}</h6>
            <h6 class="card-text">From: <span style="color: #8B0000; font-weight: bold;">{{ product.website }}</span></h6>
            <a href="{{ product.buy }}" class="btn btn-primary" target="_blank">Shop</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
